.container{
    margin-bottom: 50px;
}
.buy-now{
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 9px 25px;
}
.see-all{
    color: orange;
}
.card{
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px lightgrey;
    margin: 20px;
    padding: 40px;

}

